body {
  font-family: sans-serif;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #d6ffca;
}

navbar {

}

.flash_message {
    width:100%;
    text-align:center;
    margin-top: 50px;
    padding: 5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
}

h1 {
    padding-bottom: 10px;
}

h4 {
    padding-bottom: 20px;
}

#list {
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    margin: 0px 400px 0px 400px;
}


form {

}

.error {
  font-size: 150%;
  color: red;
}

.links {
   
}

/* link styling */
a:link, a:visited, a:active {
    color: ;
}
a:hover {
    color: ;
    text-decoration: none;
}
